USE [master]
GO
/****** Object:  Database [PetDB]    Script Date: 4/4/2018 1:39:38 PM ******/
CREATE DATABASE [PetDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PetDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PetDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PetDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetDB]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 4/4/2018 1:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[PDF] [image] NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 4/4/2018 1:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[Link] [image] NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pet]    Script Date: 4/4/2018 1:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[PetID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Birthdate] [datetime] NULL,
	[Type] [nvarchar](50) NULL,
	[Photo] [image] NULL,
	[IsFixed] [bit] NOT NULL,
	[SurgeryID] [int] NOT NULL,
	[VaccinationID] [int] NOT NULL,
	[WeightID] [int] NOT NULL,
	[DocumentID] [int] NOT NULL,
	[VisitID] [int] NOT NULL,
	[ImageID] [int] NOT NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Surgery]    Script Date: 4/4/2018 1:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surgery](
	[SurgeryID] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Surgery] PRIMARY KEY CLUSTERED 
(
	[SurgeryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vaccination]    Script Date: 4/4/2018 1:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccination](
	[VaccinationID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](200) NOT NULL,
	[DateRecieved] [date] NOT NULL CONSTRAINT [DF_Vaccination_DateRecieved]  DEFAULT (getdate()),
	[DueDate] [date] NULL CONSTRAINT [DF_Vaccination_DueDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_Vaccination] PRIMARY KEY CLUSTERED 
(
	[VaccinationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Visit]    Script Date: 4/4/2018 1:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visit](
	[VisitID] [int] IDENTITY(1,1) NOT NULL,
	[ClinicName] [nvarchar](200) NOT NULL,
	[Cost] [float] NULL,
	[VisitDescription] [nvarchar](max) NULL,
	[VisitDate] [date] NOT NULL CONSTRAINT [DF_Visit_VisitDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_Visit] PRIMARY KEY CLUSTERED 
(
	[VisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Weight]    Script Date: 4/4/2018 1:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weight](
	[WeightID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL CONSTRAINT [DF_Weight_Date]  DEFAULT (getdate()),
	[Weight] [float] NOT NULL,
 CONSTRAINT [PK_Weight] PRIMARY KEY CLUSTERED 
(
	[WeightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Document] ON 

INSERT [dbo].[Document] ([DocumentID], [Title], [PDF]) VALUES (1, N'Buzzing ', NULL)
SET IDENTITY_INSERT [dbo].[Document] OFF
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([ImageID], [Link]) VALUES (1, NULL)
SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[Pet] ON 

INSERT [dbo].[Pet] ([PetID], [Name], [Birthdate], [Type], [Photo], [IsFixed], [SurgeryID], [VaccinationID], [WeightID], [DocumentID], [VisitID], [ImageID]) VALUES (1, N'Scruffy', CAST(N'2018-01-01 00:00:00.000' AS DateTime), N'Grizzly Bear', NULL, 1, 1, 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Pet] OFF
SET IDENTITY_INSERT [dbo].[Surgery] ON 

INSERT [dbo].[Surgery] ([SurgeryID], [date], [description]) VALUES (1, CAST(N'2018-01-01 00:00:00.000' AS DateTime), N'Ouch')
SET IDENTITY_INSERT [dbo].[Surgery] OFF
SET IDENTITY_INSERT [dbo].[Vaccination] ON 

INSERT [dbo].[Vaccination] ([VaccinationID], [Type], [DateRecieved], [DueDate]) VALUES (1, N'Shot', CAST(N'2018-01-01' AS Date), CAST(N'2019-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Vaccination] OFF
SET IDENTITY_INSERT [dbo].[Visit] ON 

INSERT [dbo].[Visit] ([VisitID], [ClinicName], [Cost], [VisitDescription], [VisitDate]) VALUES (1, N'The Shelter', 1, N'I went', CAST(N'2018-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Visit] OFF
SET IDENTITY_INSERT [dbo].[Weight] ON 

INSERT [dbo].[Weight] ([WeightID], [Date], [Weight]) VALUES (1, CAST(N'2018-01-01' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Weight] OFF
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Document] FOREIGN KEY([DocumentID])
REFERENCES [dbo].[Document] ([DocumentID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Document]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Image] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Image] ([ImageID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Image]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Surgery] FOREIGN KEY([SurgeryID])
REFERENCES [dbo].[Surgery] ([SurgeryID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Surgery]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Vaccination] FOREIGN KEY([VaccinationID])
REFERENCES [dbo].[Vaccination] ([VaccinationID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Vaccination]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Visit] FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visit] ([VisitID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Visit]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Weight] FOREIGN KEY([WeightID])
REFERENCES [dbo].[Weight] ([WeightID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Weight]
GO
USE [master]
GO
